@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<button class="btn btn-primary" @onclick="ShowModal">test me</button>

<DefaultModal @ref="defaultModal" Parent="@this">
    
    <p>This is our modal content</p>

</DefaultModal>




@code
{
    DefaultModal defaultModal;


    private void ShowModal()
    {
        defaultModal.Open();
    }

    public bool Apply()
    {
        return true;
    }
}
